
.sortProjectsCard{
    cursor: pointer;
    padding: 5px;
    user-select: none;
    border-radius: 15px;
    font-size: 16px;
    white-space: nowrap;
}

.active{
    background-color: rgba(255, 255, 255, 0.859);
    color: black;
}


@media (max-width: 500px) {
    .sortProjectsCard{
        font-size: 14px;
        padding: 4px;
        border-radius: 10px;
    }
    
}

@media(max-width: 500px) {
    .projectsList {
        grid-template-columns: repeat(1, 1fr);
    }
}